<div class="wall-container">
  <div class="header">
    <div class="header-left">
      <img src="logo.png" alt="Avignon Université">
      <div>
        <h1>CERISoNet</h1>
        <p>Réseau social du CERI</p>
      </div>
    </div>
    <button (click)="onLogout()">Se déconnecter</button>
  </div>

  <app-notification></app-notification>

  <app-online-users
    [onlineUsers]="onlineUsers"
    [currentUserId]="currentUserId">
  </app-online-users>

  <div class="mur-header">
    <button class="btn-nouveau" (click)="showForm = !showForm">
      {{ showForm ? 'Annuler' : 'Nouveau post' }}
    </button>
  </div>

  <div class="form-card" *ngIf="showForm">
    <h3>Nouveau post</h3>
    <div class="accent-line"></div>
    <div class="form-group">
      <label>Message *</label>
      <textarea [(ngModel)]="newBody" placeholder="Quoi de neuf ?" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="file" accept="image/*" (change)="onImageSelected($event)" />
    </div>
    <div class="form-group" *ngIf="selectedFile">
      <label>Titre de l'image</label>
      <input type="text" [(ngModel)]="newImageTitle" placeholder="Titre" />
    </div>
    <div class="form-group">
      <label>Hashtags</label>
      <input type="text" [(ngModel)]="newHashtags" placeholder="#CERI #IA" />
    </div>
    <button class="btn-publier" (click)="publierPost()">Publier</button>
  </div>

  <app-filter-bar
    [availableHashtags]="availableHashtags"
    [totalPosts]="totalPosts"
    (filtersChanged)="onFiltersChanged($event)">
  </app-filter-bar>

  <app-post-card
  *ngFor="let post of posts"
  [post]="post"
  [currentUserId]="currentUserId"
  (postShared)="loadPosts()">
</app-post-card>

  <div class="pagination">
    <button (click)="precedent()" [disabled]="page === 1">Précédent</button>
    <span>Page {{ page }} / {{ totalPages || '?' }}</span>
    <button (click)="suivant()" [disabled]="totalPages > 0 && page >= totalPages">Suivant</button>
  </div>
</div>